/* General Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body, .root {
  width: 100%;
  height: 100%;
  font-family: "Lato", sans-serif;
}

/* -------------- Welcome styles -------------- */

.welcome {
  background-color: #bf8e72;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* --- Greeting Area --- */

div.welcome-container {
  background-color: rgb(251, 251, 253);
  border-radius: 20px;
  width: 95%;
  height: 90%;
  padding: 50px 200px;
  background-image: url(./Resources/DV\ Chat/welcome-background.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto;
  background-position: 800px 40px;
}

.greeting-area {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.greeting-area img {
  height: 50px;
  width: 50px;
  margin-right: 15px;
}

.greeting-area h1 {
  font-family: "Marcellus", serif;
  text-transform: uppercase;
  font-size: 35px;
}

.welcome-container h2 {
  color: #AF4401;
  font-size: 90px;
  font-weight: bolder;
  font-family: "Marcellus", serif;
  letter-spacing: 8px;
}

p.continue {
  font-family: "Marcellus", serif;
  font-size: 25px;
  letter-spacing: 7px;
  margin-top: -20px;
}

/* --- Form Area --- */

div.form-area {
  margin: 75px 0;
}

.form-area .input {
  width: 400px;
  padding: 10px;
  height: 40px;
  font-size: large;
  font-weight: normal;
  font-family: "Lato", sans-serif;
  border-radius: 10px;
  border: 3px solid #99a5a3;
  margin: 5px 0 0 0;
}

.form-area .input.name {
  margin: 30px 0 50px 0;
}

.form-area .input.none {
  width: 415px;
  height: 50px;
  margin: 30px 0 50px 0;
  border: 6px solid #AF4401;
  font-weight: bold;
}

div.form-area label, p.create-apikey  {
  font-weight: normal;
  font-size: large;
  color: #4f6f1d;
  margin-top: 4px;
}

.create-apikey a {
  font-weight: bolder;
  color: #af4401;
}

.enter-button {
  width: 150px;
  height: 40px;
  background-color: #d7a180;
  margin: 50px 130px;
  color: white;
  border: none;
  padding: 3px;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  border-radius: 20px;
}

/* -------------- Home view styles -------------- */

/* --- Header styles --- */

header {
  display: flex;
  justify-content: center;
}

header img {
  height: 40px;
  width: 40px;
  margin: 25px 10px 30px 10px;
}

header h1 {
  margin: 10px;
  font-family: "Marcellus", serif;
  text-transform: uppercase;
  font-size: 33px;
  margin-top: 25px;
}

/* --- Search by name styles --- */

aside.search-by-name.container {
  display: flex;
  justify-content: center; 
  margin-right: 760px;
  margin-top: 30px;
}

aside.search-by-name.container input {
  outline-style: none;
  width: 150px;
  border-radius: 5px;
  border: #8a988c solid 0.5px;
  box-shadow: 1px 1px 5px gray;
  padding: 3px 5px;
  font-weight: bold;
  margin-right: 140px;
}

/* --- Categories menu styles--- */

.category-menu {
  width: 610px;
  font-family: "Marcellus", serif;
  margin: auto;
  margin-top: -50px;
}

.category-nav {
  display: inline-flex;
  padding: 5px;
  width: 600px;
}

.item-aside {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-aside input[type="image"] {
  width: 50px;
  height: 50px;
}

/* --- Order by drop button styles --- */

.order-by {
  display: flex;
  justify-content: center;
  margin-left: 760px;
  margin-top: -50px;
}

.order-by label {
  background-color: #c4cbc5;
  border-radius: 5px;
  border: #8a988c solid 1px;
  box-shadow: 1px 1px 5px gray;
  text-transform: uppercase;
  text-align: center;
  font-size: 15px;
  width: 100px;
  height: 20px;
  font-weight: bold;
}

.order-by #item-order {
  margin: 0 -90px;
  width: 100px;
  width: 80px;
  height: 20px;
  border: #8a988c solid 1px;
  text-transform: uppercase;
  font-size: 16px;
}

select#item-order {
  opacity: 0;
}

/*  ---  Card styles  ---  */

ul {
  list-style: none;
  width: 80%;
  height: 100%;
  padding: 50px 0 100px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.card-container {
  padding: 10px;
  width: 276px;
  border-radius: 10px;
  height: 481px;
  margin: 30px 40px;
  box-shadow: 2px 2px 5px gray;
}

li.card-container.ornamental {
  background-color: #c4cbc5;
}

li.card-container.medicinal {
  background-color: #d3dbc6;
}

li.card-container.desertica {
  background-color: #f3f2d3;
}

li.card-container.arboles {
  background-color: #f9edd5;
}

li.card-container.aromatica {
  background-color: #ebd0bf;
}

/*  ---  Front card styles  ---  */

#front-card h2,
h3 {
  text-align: center;
  font-family: "Marcellus", serif;
  color: #af4401;
  padding-top: 8px;
}

#front-card h4 {
  text-align: center;
  font-family: "Lato", sans-serif;
  color: #4f6f1d;
  margin-top: 5px;
}

#front-card h4::first-letter {
  text-transform: uppercase;
}

#front-card .top-card {
  display: flex;
  margin: 40px 0 0 5px;
}

#front-card .top-card dl {
  text-align: center;
  margin: -10px 0 0 25px;
  height: 234px;
}

#front-card .top-card dt {
  font-size: small;
  margin: 15px 0 5px 0;
}

#front-card .top-card .amounts dd {
  padding: 5px;
  border-radius: 5px;
  border: #8a988c 0.5px solid;
  box-shadow: 1px 1px 5px grey;
  height: 40px;
}

#front-card .top-card .amounts img {
  width: 20px;
  height: 20px;
  margin: 4px 0;
}

#front-card .amounts img.inactive {
  opacity: 0.3;
}

.homeButton,
.group-button,
.individual-chat,
.stats-button,
.send-button {
  border: none;
  appearance: none;
  background-color: inherit;
  padding-left: 20px;
}

#front-card .buttons-container {
  width: 240px;
  height: 35px;
  display: flex;
  justify-content: space-between;
  margin: 53px 0 0 8px;
  align-items: center;
}

.buttons-container img {
  width: 45px;
  height: 45px;
}

#front-card button.individual-chat {
  background-color: #d7a180;
  width: 150px;
  height: 32px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 19px;
  color: white;
  border-radius: 10px;
  border: none;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 4px 8px;
  align-items: center;
  margin-top: 20px;
}

#front-card .individual-chat-button img {
  margin: -29px 0px 29px 115px;
  width: 25px;
  height: 25px;
}

/* -------------- Stats modals styles -------------- */

.statistics-modal {
  outline-style: none;
  margin: auto;
  background-color: #fefefe;
  border: 3px solid #E5B655;
  border-radius: 10px;
  width: 500px;
  height: 300px;
  justify-content: center;
  padding: 10px;
  scrollbar-width: none;
  overflow: hidden;
}

.statistics-modal h3:first-letter {
  text-transform: uppercase;
}

.statistics-modal h3 {
  font-family: 'Marcellus SC', serif;
  color: #4F6F1D;
  font-size: 30px;
  text-align: center;
  font-weight: lighter;
  margin: 0px 0 20px 0;
}

.statistics {
  display: flex;
  margin: 35px 0 0 40px;
}

div.statistics-totals h5 {
  font-family: 'Marcellus SC', serif;
  font-size: 25px;
  text-align: center;
  margin: -2px 0 20px 50px;
  text-shadow: .5px .5px .5px gray;
}

div.statistics .legend {
  margin-top: 5px;
  display: flex;
}

div.statistics .square {
  height: 20px;
  width: 30px;
  margin: 0 10px 25px 3px;
  border-radius: 5px;
}

div.statistics .square.water {
  background-color: #D7A180;
}

div.statistics .square.light {
  background-color: #F2DBAA;
}

div.statistics .square.care {
  background-color: #E7E4A7;
}

h5.water {
  color: #D7A180;
}

h5.light {
  color: #E5B655;
}

h5.care {
  color: #D0C950;
}

.statistics-modal h4 {
  font-family: 'Marcellus SC', serif;
  font-size: 21px;
  text-align: center;
  font-weight: lighter;
  color: #4F6F1D;
  margin: 15px 55px 0 0;
  
}

img.close-button-stats {
  width: 30px;
  height: 30px;
  margin: -28px 0 25px 442px;
  position: fixed;
}

/* --- Footer styles --- */

footer {
  bottom: 0px;
  position: fixed;
  height: 100px;
  width: 100%;
  background-color: #d7a180;
  color: #ffffff;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}

footer h3 {
  font-family: "Marcellus", serif;
  margin: 3px 0 7px 0;
  color: white;
  font-size: 20px;
}

.home .group-button {
  display: flex;
  bottom: 47px;
  right: 55px;
  position: fixed;
}

/* -------------- Individual chat view styles -------------- */

div.individual-chat-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #f9edd5;
  padding: 70px;
  display: flex;
  &::before {
    content: "";
    background-image: url(./Resources/DV\ Chat/individual-background.png);
    background-repeat: no-repeat;
    position: absolute;
    padding: 100%;
    left: 600px;
    top: 40px;
  }
}

/* --- Chat Area --- */

div.chat-area {
  position: relative;
  background-color: white;
  width: 400px;
  height: 600px;
  border-radius: 0 90px;
  padding: 0 10px;
}

div.info-area {
  height: 50px;
  display: flex;
  width: 380px;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to right, #EBD0BF 60%, #fff 90%) 1;
}

div.plant-image {
  width: 100px;
  height: 78px;
  background-color: white;
  border: #af4401 1px solid;
  border-radius: 50px;
  margin: -40px 10px 0 -20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.info-area h1 {
  font-family: "Marcellus", serif;
  text-transform: uppercase;
  margin-top: -35px;
  font-size: 20px;
  width: 270px;
  color: #af4401;
}

div.chat-container {
  height: 490px;
  margin-top: 5px;
  padding: 5px;
}

p.name {
  background-color: white;
  font-size: 10px;
  margin: 0 0 2px 0;
}

.plant-message,
.plant-group-message {
  max-width: 80%;
  margin: 5px 0 0 5px;
  padding: 0px 10px;
}

.plant-message p.message,
.plant-group-message p.message {
  height: 90%;
  padding: 5px 10px;
  border-radius: 10px 10px 10px 0;
}

.plant-message p.message {
  background-color: #c4cbc5;
}

div.plant-message .plant-image, div.plant-group-message .plant-image {
  width: 30px;
  height: 30px;
  margin: -3px 0 0 -28px;
  border: #af4401 1px solid;
}

div.plant-image img {
  width: 35px;
  height: 65px;
}

.user-message,
.user-group-message {
  max-width: 80%;
  margin: -15px 0 15px 60px;
  text-align: right;
}

.user-message p.message,
.user-group-message p.message {
  border-radius: 10px 10px 0 10px;
  padding: 5px 10px;
}

.user-message p.message {
  background-color: #d3dbc6;
}

textarea.user-text {
  margin: 45px 0 0 80px;
  height: 35px;
  width: 310px;
  padding: 10px 5px 10px 10px;
  font-family: "Lato", sans-serif;
  border-radius: 10px 10px 0 10px;
  scrollbar-width: none;
}

button.send-button {
  margin: -39px 0 0 331px;
  position: fixed;
}

.send-button img {
  height: 35px;
  width: 35px;
}

div.question-ideas {
  margin: 0 0 0 100px;
  height: 300px;
}

ul.question-topics {
  display: block;
  margin-top: 10px;
}

.question-topics li {
  margin: 20px 0;
  list-style-type: disc;
}

div.buttons-area {
  display: flex;
  bottom: 27px;
  right: 45px;
  position: fixed;
}

/* -------------- Group Chat View -------------- */

div.group-chat-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #d3dbc6;
  padding: 70px;
  display: flex;
  &::before {
    content: "";
    background-image: url(./Resources/DV\ Chat/group-background.png);
    background-repeat: no-repeat;
    position: absolute;
    padding: 100%;
    left: 700px;
    top: 25px;
  }
}

h1#title {
  color: #ad4301;
  font-family: "Marcellus", sans;
  font-weight: lighter;
  font-size: 50px;
  width: 400px;
  margin: -35px 0 0 -5px;
}

.plant-group-message p.message {
  background-color: #f2dbaa;
}

.user-group-message p.message {
  background-color: #f9edd5;
}

/* -------------- 404 styles -------------- */

div.not-found {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #f3f2d3;
  padding: 8%;
  &::before {
    content: "";
    background-image: url(./Resources/DV\ Chat/error-background.png);
    opacity: 0.5;
    background-repeat: no-repeat;
    position: absolute;
    padding: 100%;
    left: 200px;
    top: 10px;
  }
}

div.not-found h1 {
  position: relative;
  color: #8a988c;
  font-family: "Marcellus", serif;
  font-size: 70px;
  margin: 0 0 30px 150px;
}

div.not-found p {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 20px 0;
}

div.not-found p.instruction {
  font-size: 25px;
  font-weight: normal;
}

div.not-found button {
  position: relative;
  background-color: #8a988c;
  color: white;
  width: 250px;
  height: 30px;
  border-radius: 15px;
  border: none;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: bolder;
  font-size: 15px;
  margin: 50px 0 50px 100px;
}

/* -------------- Apikay error modals styles -------------- */

dialog.modal {
  margin: auto;
  background-color: #153119;
  border: 6px solid #ebd0bf;
  border-radius: 30px;
  min-width: 550px;
  height: 250px;
  color: white;
  scrollbar-width: none;
  overflow: hidden;
  &::before {
    content: "";
    background-image: url(./Resources/DV\ Chat/apikey-background.png);
    background-repeat: no-repeat;
    position: absolute;
    padding: 100%;
    left: 280px;
    background-size: 25%;
  }
}

dialog.modal p {
  position: relative;
  text-transform: none;
  font-size: 16px;
  font-weight: normal;
  margin: 15px 0 10px 0;
  text-align: center;
}

dialog.modal input {
  position: relative;
  outline-style: none;
  height: 33px;
  width: 250px;
  padding: 5px;
  border: 4px solid #ebd0bf;
  border-radius: 10px;
  margin: 5px;
}

dialog.modal button {
  background-color: #ebd0bf;
  width: 100px;
  margin: 32px 0 0px 0;
  color: #153119;
  font-weight: bold;
  margin-left: 80px;
}

dialog.modal p.link {
  font-size: 14px;
}

dialog.modal a {
  font-weight: bolder;
  color: #ebd0bf;
  font-size: 16px;
}

dialog.modal img {
  height: 30px;
  width: 30px;
  margin: -37px -232px 35px 232px;
  position: fixed;
}

img.close-icon1, img.close-icon2  {
  position: relative;
}

form input.text {
  margin: 10px 0 0 140px;
}

form button.send-key-button1 {
  margin: 30px 0 10px 220px;
}

form img.close-icon1, form.not-valid img.close-icon2 {
  margin: -35px 0 35px 500px;
}

/* Valid key */

dialog.valid-key.modal {
  background-color: #ebd0bf;
  border: 6px solid #af4401;
}

dialog.valid-key.modal p {
  font-weight: bold;
  color: #000;
  text-align: center;
}

dialog.valid-key.modal input {
  border: 4px solid #af4401;
}

dialog.valid-key.modal button {
  background-color: #af4401;
  color: white;
  margin-left: 80px;
}

dialog.valid-key.modal a {
  color: #af4401;
  font-size: 16px;
}

dialog.valid-key.modal::before {
  background-image: url(./Resources/DV\ Chat/apikey-background-red.png);
  opacity: 0.25;
}

img.close-icon1,
img.close-icon2 {
  position: relative;
}

form.not-valid button.send-key-button2 {
  margin: 30px 0 10px 220px;
}

/* ---------------------------- Media Queries ---------------------------- */

@media screen and (max-width: 600px) {

  /* -------------- Welcome view -------------- */
  
  /* --- Greeting Area --- */

  div.welcome-container {
    padding: 20px;
    border-radius: 15px;
    width: 90%;
    height: 96%;
    background-size: cover;
    background-position: center;
  }

  .greeting-area {
    margin: 80px 0 20px 0;
    justify-content: center;
  }

  .greeting-area img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
  }

  .greeting-area h1 {
    font-size: 20px;
  }

  .welcome-container h2 {
    font-size: 50px;
    letter-spacing: 3px;
    text-align: center
  }

  p.continue {
    font-size: 15px;
    margin-top: -10px;
    text-align: center
  }

  /* --- Form Area --- */

  div.form-area {
    text-align: center
  }

  .form-area .input {
    width: 250px;
    height: 25px;
    font-size: small;
    border-radius: 5px;
  }

  .form-area .input.none {
    width: 253px;
    height: 28px;
    border: 4px solid #AF4401;
  }

  div.form-area label, p.create-apikey  {
    font-size: 11px;
  }

  .enter-button {
    width: 90px;
    height: 25px;
    font-size: 15px;
    margin: 50px 0;
  }

  /* -------------- Home -------------- */

.home {
  width: 100%;
  height: 100%;
}

  /* --- Header styles --- */

  header {
    background-color: #fcfdfc;
    height: 150px;
    border-radius: 10px;
    max-width: 100%;
    box-shadow: 1px 1px 5px lightgrey;
  }

  header img {
    height: 30px;
    width: 30px;
    margin-top: 40px;
  }

  header h1 {
    margin-top: 40px;
    font-size: 23px;
  }
  /* Search by name styles */

  aside.search-by-name.container {
      width: 80%;
      margin-left: 20px;
      margin-top: -40px;
      font-size: smaller;
    }

    .search-container input {
      font-size: small;
      height: 25px;
      /* width: 70%; */
    }

  /* Order by drop button styles */

  .order-by {
    margin: auto;
    width: 40%;
    margin-top: -25px;
    margin-right: 50px;
    font-size: small;
  }

  .order-by label {
    font-size: small;
    width: 55%;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

/* Stats modals styles */

.statistics-modal {
  width: 350px;
  height: 280px;
  margin: 290px 20px;
}

.statistics-modal h3 {
  font-size: 25px;
}

.statistics {
  margin: 35px 0 0 50px;
}

div.statistics .legend {
  margin-top: 1px;
  display: flex;
  height: 40px;
}

div.statistics .square {
  height: 15px;
  width: 24px;
}

.legend p {
  font-size: 13px;
}

div.statistics-totals h5 {
  font-size: 20px;
  width: 90px;
  margin-top: -6px;
}

.statistics-modal h4 {
  font-size: 18px;
  width: 200px;
  font-size: 15px;
  margin: 10px 0 0 60px;
}

img.close-button, img.close-button-stats {
  width: 25px;
  height: 25px;
  margin: 80px 0 0 310px;
}

img.close-button-stats {
  margin: -20px 0 5px 300px;
  position: fixed;
}

  /* Categories menu styles */

  .category-menu {
    bottom:0px;
    position: fixed;
    height: 110px;
    width: 100%;
    background-color: #f9faf9;
    font-size: 10px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 5px 5px 13px gray;;
    left: 0;
  }

  .category-nav {
    margin-top: 6px;
    max-width: 100%;
  }

  .item-aside input[type=image] {
    width: 30px;
    height: 30px;
  }

/* --- Footer styles --- */

.home .group-button {
  margin: 0 -47px 50px 0px;
  position: fixed;
}

.home .group-button img {
  width: 75px;
}

footer {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer h3, footer p {
  font-size: 12px;
  padding: 5px;
  font-weight: normal;
}

footer p {
  margin-top: -4px;
  font-size: 9px;
}

  /* Individual Chat View  */

  div.individual-chat-wrapper, div.group-chat-wrapper {
    padding: 15px;
    position: fixed;
    background-image: url(./Resources/DV\ Chat/individual-background.png);
    background-size: cover;
  }
  
  /* --- Chat Area --- */
  
  div.individual-chat-wrapper .chat-area, div.group-chat-wrapper .chat-area {
    height: 50%;
    width: 98%;
    margin-top: 35px;
    margin-left: 5px;
  }

  div.info-area {
    margin-top: 15px;
    height: 40px;
    width: 100%;
    margin-left: 5px;
  }
  
  div.plant-image {
    width: 85px;
    height: 58px;
  }
  
  div.plant-message .plant-image, div.plant-group-message .plant-image {
    width: 25px;
    height: 25px;
    margin: -5px 0 0 -28px;
  }
  
  div.plant-image img {
    width: 30px;
    height: 50px;
  }
  
  textarea.user-text {
    position: fixed;
    margin: -150px 10px 0 73px;
    height: 30px;
    width: 270px;
    border-radius: 5px 5px 0 5px; 
  }
  
  button.send-button {
    margin: -150px 0 0 292px;
    position: fixed;
  }
  
  .send-button img {
    height: 30px;
    width: 30px;
  }

  div.individual-chat-wrapper .buttons-area img,
  div.group-chat-wrapper .buttons-area img {
    width: 40px;
    height: 40px;
    margin: 0 245px 330px -265px;
  }

/*---- Group chat View ----*/

  div.group-chat-wrapper .info-area {
    height: 20px;
    margin-left: -8px;
    width: 99%;
  }
  
  h1#title {
    font-size: 40px;
  }

  div.group-chat-wrapper .buttons-area img {
    margin-bottom: 347px;
  }

  /* -------------- 404 styles -------------- */

  div.not-found {
    text-align: center;
    &::before {
      background-size: 180%;
      background-position: center;
      margin: 0 0px 0 -230px;
      opacity: 0.3;
    }
  }
  
  div.not-found h1 {
    font-size: 40px;
    margin: auto;
    margin: 100px 0 50px 0;
  }
  
  div.not-found p {
    font-size: 20px;
  }
  
  div.not-found p.instruction {
    font-size: 20px;
  }
  
  div.not-found button {
    width: 150px;
    height: 25px;
    border-radius: 15px;
    border: none;
    text-transform: uppercase;
    font-size: 10px;
    display: block;
    top: 30px;
  }
  
  /* -------------- Apikay error modals styles -------------- */
  
  dialog.modal {
    min-width: 370px;
    height: 250px;
    padding: 10px;
    &::before {
      background-size: 35%;
      left: 110px;
      opacity: 0.5;
    }
  }
  
  dialog.modal p {
    font-size: 15px;
    text-align: center;
  }
  
  dialog.modal input {
    height: 25px;
    width: 180px;
    margin: 10px 0 5px 0; 
  }
 
  dialog.modal button {
    width: 70px;
    margin: auto;
  }
   
  dialog.modal p.link {
    margin: 50px;
  }
  
  dialog.modal a {
    font-size: 15px;
  }
  
  form img.close-icon1, form.not-valid img.close-icon2 {
    margin: -73px 0 0 138px;
  }
  
  dialog.valid-key.modal button {
    margin: auto;
  }
  
}